* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height:1.6;
    color: black;
}
.img-bg {
    background-size:cover;
    background-position: complete;
    background-repeat: no-repeat;
    width:auto;
    height:100vh;
    background-image: url("trials1.avif");
}
.text{
    color: rgb(12, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    }

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: rgb(159, 3, 3);
    padding: 1rem;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aqua;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-links a:hover {
    color: aquamarine;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.hero-text {                   
    flex: 1;
    min-width: 250px;             
}                     

.hero-img {
    width: 200px;
    border-radius: 100px;
}

.btn {
    display: inline-block;
    background: lightblue;
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 1rem;   
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    background: aqua;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top:3rem;
}

.grid-2 img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 10px black;
    margin-top: 3rem;
}

.grid-2> div {
    margin-left: 4rem;
}

.project .card img{
    width: 100%;
    height: 200px;
    display:block;
    object-fit: cover;
    border-radius: 20px;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:80vh;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: aliceblue;
    box-shadow: 0 4px 8px black;
    padding: 2rem;
    border-radius: 10px;
    gap:0.3rem;
}
.byn{
    cursor: pointer;
    background: rgb(101, 101, 250);
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 1rem;   
    width: 50%;
    align-self: center;
    transition: 0.15s;
}
.btn:hover{
    background: rgb(136, 136, 253);
    color:black;
    opacity: 0.7;
}
.entry{
    color: rgb(190, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
}